[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Tobassco
	email = 112477481+Tobassco@users.noreply.github.com
[push]
	autoSetupRemote = true
